//general stylings
//downloaded fonts: Handjet, Roboto Mono, IBM Plex Sans, Raleway
html{
    // min-height: 100%;
    height: -webkit-fill-available;
}
body{
    margin: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

h1{
    color: black;
    font-family: IBM Plex Sans;
}
h2{
    font-family: Raleway;
    color: black;
    font-size: 1.5em;
    margin-right: 5px;
}
h2 a{
    text-decoration: none;
}
h2 a:visited{
    color: black;
}
p{
    color: rgb(123, 123, 123);
    font-family: Roboto Mono;
}
//****
//Navigation Bar Classes
//****
.current {
    color: green !important;
}
nav{
    width: 100%;
    top: 0px;
    position: sticky;
    z-index: 100;
}
.nav-container{
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}
.nav-bar-item-container{
    margin-left: 5%;
    margin-right: 0px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.nav-bar-container-underline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}
.nav-underline{
    border: 1px solid black;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 95%;
    height: 0px;
}
.nav-bar-item{
    margin-left: 10px;
    margin-right: 10px;
    font-family: Roboto Mono;
    font-size: 30px;
}
.nav-bar-item a:hover{
    color: green !important;
}
.nav-bar-item a{
    text-decoration: none;
}
.nav-bar-item a:active{
    color: initial;
}
.nav-bar-item a:visited{
    color: initial;
}

//****
//Footer Classes
//****

.footer-container{
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: rgb(176, 176, 176);
    // position: absolute;
    // left: 0;
    // bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    margin-top: auto;
}
//posts CSS
.post-h1{
    font-family: IBM Plex Sans;
    width: 100%;
    display: flex;
    justify-content: center;
}
.post-content p{
    width: 100%;
}
.post-metadata{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-date{
    font-family: IBM Plex Sans;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}
.post-categories{
    display: flex;
    flex-direction: row;
}
.post-categories > .cat{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    min-width: 50px;
    border: 2px black solid;
    border-radius: 25px;
    height: fit-content;
}
.post-categories > .cat > p{
    margin: 0;
}
.post-categories > .Coding{
    background-color: greenyellow;
}
.post-categories > .Coding p{
    font-family: Handjet !important;
}
.post-categories > .Blog p{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}
.post-categories > .Blog{
    background-color: yellow;
}

.post-content{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
//image click functionality
.zoomable-image{
    cursor: pointer;
    width: 50%;
    max-width: 600px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.zoomable-image:hover{
    opacity: 0.9;
}
#image-dialog{
    border: none !important;
    outline: none;
    background-color: transparent;
    position: fixed;
}
.image-transition{
    opacity: 0;
}
#image-dialog-src{
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
}
#image-dialog-container{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-dialog-close{
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
    width: 50px;
}
#image-dialog-close:hover{
    opacity: 0.7;
}
//socials
.social-container{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}
.social-container:hover{
    border: 1px solid rgb(72, 72, 72);
    color: rgb(72, 72, 72) !important;
    box-shadow: 0 0 20px white;
    transform: scale(1.1);
}
.social-container a:visited{
    color: black;
}
.social-container img{
    margin-left: 5px;
}
.social-container p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: black !important;
}

//home page
.lander-back-container{
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    //border: 1px solid black;
}
#lander-canvas{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.title-container{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container h1{
    margin: 0px;
    color: rgb(6, 255, 72) !important;
    text-shadow: 2px 2px black;
    padding-bottom: 10px;
    font-family: Roboto Mono !important; 
}
.title-container h1::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #ff000000, #ff000000, #00ff00, #0000ff00, #ff000000);
    background-size: 300% 100%;
    animation: animate-border 5s linear infinite;
}
.title-container .border{
    position: relative;
}
@keyframes animate-border {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
    // 100% {
    //     background-position: 0% 0%;
    // }
}

.home-content{
    width: 100%;
    display: flex;
    justify-content: center;
}
//about page
.about-header-container{
    width: 100%;
    margin-bottom: 50px;
}

.about-header{
    margin-top: 20px;
    background-color: rgb(176, 176, 176);
    width: fit-content;
    padding: 2px 30px;
    margin-left: 5%;
    border-radius: 20px;
}

@media screen and (max-width: 1100px){
    .about-header{
        margin-top: 20px;
        background-color: rgb(176, 176, 176);
        width: fit-content;
        padding: 2px 30px;
        border-radius: 20px;
        margin-left: 0;
    }
    .about-header-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.about-content{
    margin-left: 5%;
    margin-top: 50px;
    margin-right: 5%;
}

//blog page
.blog-post-list{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-post{
    text-decoration: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    width: 50%;
    max-width: 600px;
}

.blog-post:hover{
    background-color: lightgray;
}
.blog-post-top{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
@media screen and (max-width: 450px){
    .blog-post{
        width: 70%;
    }
    h2{
        font-size: 1.1em;
    }
    .blog-post p{
        font-size: 0.8em;
    }
}